body {
    background-color: black;
    color: white;
    font-family: 'Brush Script MT', cursive;
}

h1, h2 {
    font-family: italic;
    font-size: 40px;
    text-decoration: underline;
}

p, ul, ol {
    font-size: 30px;
}

ul {
    text-decoration: underline;
}